<div class="services-section text-center">
		<div class="serv">
			<div class="site-title">
			</div>
			<div class="services-three-columns">
				<div class="col-md-4 services-column">
					<span class="glyphicon glyphicon-cog icon"></span>
					<h5>Data Collection</h5>
					<p>Ut nulla libero, luctus quis varius efficitur, molestie non felis. Phasellus eget rutrum enim. Sed ac est tincidunt, tristique quam aliquam</p>
				</div>
				<div class="col-md-4 services-column">
					<span class="glyphicon glyphicon-cog icon"></span>
					<h5>Data Cleaning</h5>
					<p>Ut nulla libero, luctus quis varius efficitur, molestie non felis. Phasellus eget rutrum enim. Sed ac est tincidunt, tristique quam aliquam</p>
				</div>
				<div class="col-md-4 services-column">
					<span class="glyphicon glyphicon-cog icon"></span>
					<h5>Data Analysis</h5>
					<p>Ut nulla libero, luctus quis varius efficitur, molestie non felis. Phasellus eget rutrum enim. Sed ac est tincidunt, tristique quam aliquam</p>
				</div>
				<div class="clearfix"> </div>
			</div>

      <div class="services-three-columns">
        <div class="col-md-4 services-column">
          <span class="glyphicon glyphicon-cog icon"></span>
          <h5>Machine Learning </h5>
          <p>Ut nulla libero, luctus quis varius efficitur, molestie non felis. Phasellus eget rutrum enim. Sed ac est tincidunt, tristique quam aliquam</p>
        </div>
        <div class="col-md-4 services-column">
          <span class="glyphicon glyphicon-cog icon"></span>
          <h5>Data Visualization</h5>
          <p>Ut nulla libero, luctus quis varius efficitur, molestie non felis. Phasellus eget rutrum enim. Sed ac est tincidunt, tristique quam aliquam</p>
        </div>
        <div class="col-md-4 services-column">
          <span class="glyphicon glyphicon-cog icon"></span>
          <h5>Web Development</h5>
          <p>Ut nulla libero, luctus quis varius efficitur, molestie non felis. Phasellus eget rutrum enim. Sed ac est tincidunt, tristique quam aliquam</p>
        </div>
        <div class="clearfix"> </div>
      </div>
		</div>
	</div>
