<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
	{{ partial "head.html" . }}
	{{ template "_internal/google_analytics.html" . }}

	<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Google fonts -->
<link lazyload="1" href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800|{{ .Site.Params.font.body }}|{{ .Site.Params.font.heading }}|{{ .Site.Params.font.blockquote }}|{{ .Site.Params.font.nav }}|{{ .Site.Params.font.paragraph }}' rel='stylesheet' type='text/css'>
<style>
	body {font-family: '{{ replace .Site.Params.font.body "+" " "}}';}
	h1 {font-family: '{{ replace .Site.Params.font.heading "+" " "}}';}
	blockquote {
    font-family: '{{ replace .Site.Params.font.blockquote "+" " "}}';}
	.dropdown a {
    font-family: '{{ replace .Site.Params.font.nav "+" " "}}'}
	.post-content p {
    font-family: '{{ replace .Site.Params.font.paragraph "+" " "}}'}
</style>
</head>

<body>
	{{ partial "nav.html" . }}

	<div class="container">
		<div class="jumbotron">
			{{ partial "header.html" . }}

		</div>

		<div class="main">
			<h1>Projects</h1>
				<ul id="og-grid" class="og-grid">
					{{ range $.Site.Data.items.items }}

					<li class="boxes">
						<a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}" data-buttontext="{{.buttontext}}">
							<img src="{{.thumb}}" alt="{{.alt}}" />
						</a>
					</li>
					{{ end }}
					<p><br>{{ with .Site.Params.subtitle }}{{ . | markdownify }}{{ end }}</p>
				</ul>
			</div>
		{{ partial "scripts.html" . }}
	</div>

	<div class="footera">
		<span>{{ partial "footer.html" . }}	</span>
	</div>
	</body>
</html>
